<div class="container">
  <div class="booking-page">
    <h1>New Booking</h1>

    <%= simple_form_for [@restaurant, @deals, @booking] do |b| %>

    <div class="flex-container-booking-all">

      <div class="booking-time">
        <%= b.input :booking_time, as: :string, required: false, input_html: {class: "datepicker form-inline"}%>
      </div>
      <div class="flex-container-booking">
        <div>
          <%= b.association :deal, collection: @restaurant.deals, value: "1" %>
        </div>
        <div>
          <p> Amount </p>
          <select class="amount-of-deals" id="Amount">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="add-deal">
          <i class="fa fa-plus fa-2x"></i>
        </div>

        <div class="price-of-deal">
          <p> Price </p>
          <!-- <div class="display-price"> -->
            <select class="display-price" id="priceselect" style="pointer-events: none;">
              <option value="">select a deal please</option>
            <%= @restaurant.deals.each do |deal|  %>
                <option value="<%= deal.name %>"><%= deal.price %></option>
            <% end %>
            </select>
       <!--    </div> -->
        </div>
      </div>
      <div class="total-price">
        <div class="total-sum">

          <p> Total: </p>
          <p> 23,50€ </p>
        </div>
      </div>

      <%= b.submit "Book" , class: "booking-button" %>

      <% end %>
    </div>
  </div>
</div>

    <%= javascript_pack_tag 'form' %>
