 <div class="filter-title">
  <p>Cuisines</p>
</div>
<div class="cuisine-selection">
  <%= form_tag restaurants_path, :method => :get do %>
  <% Restaurant.cuisine_types.each do |cuisine| %>
<div class="cuisine-btn">
  <%= check_box_tag "cuisine_types[]", cuisine, nil, id: "cuisine_#{cuisine.parameterize}" %>


  <label class="checkcontainer">
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <%= label_tag "cuisine_#{cuisine.parameterize}", cuisine %>
  </div>
  <% end %>
</div>


<div class="filter-title">
  <p>Rating</p>
</div>

<div class="star-ratings">
  <% (1..5).to_a.each do |num| %>
  <div id="star_<%= num %>" class="star-btn">
    <label  class="fa fa-star fa-fw" for="rating_<%= num %>"></label>
    <input class="star_input" type="checkbox" name="rating" id="rating_<%= num %>" value="<%= num %>">
  </div>
  <% end %>
</div>


<div class="filter-title">
  <p>Budgets</p>
</div>
<div class="cost-ratigs">
  <% (1..4).to_a.each do |num| %>
  <!-- <div class="category-price"> -->
    <div id="btn_<%= num %>" class="money-btn">
      <%= label_tag("price_category_#{num}", "€" * num) %>
    </div>
    <%= radio_button_tag(:price_category, num) %>
    <!-- </div> -->
    <% end %>
  </div>
  <div class="filter-submit-btn">
  <%= submit_tag 'Filter' %>
</div>
  <% end %>

<script>
  fakeinputs = document.querySelectorAll(".checkcontainer")

  fakeinputs.forEach(function(fakeinput){

    fakeinput.addEventListener("click", function(){
      check = fakeinput.previousElementSibling

        check.checked = true


    })
  })

</script>

