<h1>Edit restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
<%= f.input :name %>
<%= f.input :cuisine, :collection => ["modern european", "salad", "gastropub", "asian", "japanese", "italian", "vietnamese", "eastern european", "burrito"] %>
<%= f.input :address %>
<%= f.submit %>
<% end %>

<%= link_to 'Back', restaurants_path %>
