<div class="index_flex">
  <div class="offers-container">

    <div class ="helper-bar">
      <form class="form-inline offer-location-search" action="<%= restaurants_path %>">
        <div class="form-group index-search" >
         <input type="text" class="input-form-index" value="<%= params[:location] %>" name="location" id="restaurant_location" placeholder="e.g. Berlin">

         <button type="submit"  class="search-index-btn">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
        </button>
        <div class="filteropen" id="filter-button"><i class="fas fa-filter icon" style></i>Filter</div>
      </div>

    </form>
    <div class="filtercontainer">
      <%= render "filter" %>
    </div>
  </div>

  <div class="headline-search">
    <h1>We have found <%= pluralize(@restaurant.count, 'deal', 'deals') %> around, for <span id="date"></span>:</h1>
  </div>
  <% @restaurant.each do |restaurant| %>
  <div class="offer-detail" onclick="location.href='<%= restaurant_path(restaurant) %>';">
    <div class="offer-count marker-pin">
      <p><%= restaurant.id %></p>
    </div>
    <div class="restaurant-details">

      <div class="restaurant-logo">
        <img src="<%= restaurant.photos.first %>" alt="">
      </div>

      <h3><%= restaurant.name %></h3>
      <p><%= restaurant.distance_to(params[:location],:km).round(2) %> km</p>

      <p><% restaurant.rating.floor.times do %>
        <i class="fa fa-star checked"></i>
        <% end %>
        <% if restaurant.rating.round.even? %>
        <i class="fas fa-star-half-alt"></i>
        <% end %>
        <% (5 - restaurant.rating.floor).times do %>
        <span class="fa fa-star"></span>
        <% end %>

      </p>

      <p><%= restaurant.location %></p>
      <p><%= restaurant.rating %></p>

      <!-- Der Anfangsbuchstabe jedes Wortes wird groß geschrieben -->
      <p><%= restaurant.cuisine.titleize %></p>
    </div>
    <div class="restaurant-offer">
      <p><% restaurant.deals[0..2].each do |d|  %></p>
      <div class="offer-name">
        <div class="flex-text">
          <p><strong><%= d.name %></strong></p>
          <p><%= d.description %></p>
        </div>
        <div class="offer-price">
          <p><%= d.price %>€</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div

id="map"
class="map-index"

data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAP_API'] %>"
></div>
</div>
</div>

<div class="dropdown-menu">
  <h6 class="dropdown-header">Dropdown header</h6>
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
</div>

<script>
  a = document.querySelector('.filteropen')
  b = document.querySelector('.filtercontainer')
  a.addEventListener('click', function(){
    b.classList.toggle('filterisopen')
  })
</script>
