<div class="flex-box">

  <div class="flex-left">
    <div class="outter-box">
      <div class="restaurant-picture">
        <img src="https://scontent-ber1-1.xx.fbcdn.net/v/t1.0-9/35402_134518579904318_4915185_n.jpg?_nc_cat=109&_nc_ht=scontent-ber1-1.xx&oh=2fb1385029fafad4d74dc346db2dbd92&oe=5CA39A34" alt="Tim-Raue-Logo">
      </div>
      <div class="details-restaurant">
        <h1><%= @restaurant.name %></h1>
        <p><%= @restaurant.location %></p>
        <div>
          <% 3.5.round.times do %>
          <i class="fa fa-star checked"></i>
          <% end %>
          <% (5 - 3.5.round).times do %>
          <span class="fa fa-star"></span>
          <% end %>
        </div>
      </div>
      <% if true %>
        <div class="category-tag">
          <p>Modern-Asian</p>
        </div>
      <% end %>
      <% if false %>
        <div class="category-tag">
          <p>another category</p>
        </div>
      <% end %>
      <% if true %>
        <div class="category-tag">
          <p>category</p>
        </div>
      <% end %>

      <div class="contact-display">
        <a href="tel: 00493025937930"><i class="fas fa-phone-square" style="font-size:30px;"></i></a>
        <a href="mailto:office@tim-raue.com "><i class="fas fa-envelope-square" style="font-size:30px;"></i></a>
        <a href="https://tim-raue.com/en/"><i class="fas fa-home" style="font-size:30px;"></i></a>
      </div>
    </div>

    <div class="all-deals">
      <div class="details-deals">
        <div class="deal-title">
          <p>Schnitzel </p>
        </div>
        <div class="deal-description-price">
         <p> mit Jägersauce </p>

         <div class="deal-price"><p> 13€</p></div>
       </div>
     </div>

     <div class="details-deals">
      <div class="deal-title">
        <p> Lachs </p>
      </div>
      <div class="deal-description-price">
        <p> mit Salat, Mikrokrümmeln und Obst</p>
        <div class="deal-price"<p>13€</p></div>
      </div>
      <%= link_to "Book Now", new_restaurant_booking_path(@restaurant), class: "btn btn-primary"%>

    </div>
  </div>
</div>

<div class="flex-right">
  <div class="flex-container-all-boxes">
    <div class="flex-container map">
      <div class="map-wrapper">

        <div
        id="map"
        style="width: 100%;
        height: 100%;"

        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAP_API'] %>"
        ></div>
      </div>
    </div>

    <div class="flex-container">
      <h2 class="box-title">Opening Hours</h2>
      <table class="opening-table">
        <tr class="<%= 'today' if Date.today.wday ==1 %>"><th>Monday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==2 %>"><th>Tuesday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==3 %>"><th>Wednesday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==4 %>"><th>Thursday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==5 %>"><th>Friday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==6 %>"><th>Saturday</th><td>10:00 - 22:00</td></tr>
        <tr class="<%= 'today' if Date.today.wday ==7 %>"><th>Sunday</th><td>Closed</td></tr>
      </table>
    </div>

    <div class="flex-container social-media">
      <h2 class="box-title">Reviews</h2>
    </div>
  </div>
</div>

